---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
  description: "Happily blabbering about myself",
  title: "Explore",
};
---

<script defer src="https://cloud.umami.is/script.js" data-website-id="d8126afa-dc93-427c-a836-8e92a8586a7d"></script>

<PageLayout meta={meta}>
  <div class="space-y-6">
    <style>
      a:link, a:visited {
        text-decoration: none;
      }

      a:hover, a:active {
        text-decoration: underline;
      }

      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Creates three equal-width columns */
        gap: 1rem; /* Space between grid items */
        margin-top: 2rem;
      }

      .grid-item {
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-sizing: border-box;
      }

      .grid-item h2 {
        margin-top: 0;
        font-size: 1.25rem;
        color: #333;
      }

      .grid-item p {
        margin-bottom: 0;
        font-size: 0.875rem;
        color: #666;
      }
    </style>
    <h1 class="title">Explore</h1>
    <p>
      Delightful nonsense and playful antics.
      <div class="grid-item">
        <h2><a href="/now">Now</a></h2>
        <p>What's up?</p>
      </div>
      <div class="grid-item">
        <h2><a href="/blogroll">Blogroll</a></h2>
        <p>Blogs I follow.</p>
      </div>
      <div class="grid-item">
        <h2><a href="https://aisahihu.me/posts/media-log">Consumption Log</a></h2>
        <p>Monthly records.</p>
      </div>
      <div class="grid-item">
        <h2><a href="https://aisahihu.me/posts/i-have-read-these">Books</a></h2>
        <p>Read log.</p>
      </div>
      <div class="grid-item">
        <h2><a href="https://aisahihu.me/posts/played-these">Games</a></h2>
        <p>A long list of fun.</p>
      </div>
      <div class="grid-item">
        <h2>Links</h2>
        <p>Check this out.</p>
      </div>
      <div class="grid-item">
        <h2><a href="https://aisahihu.me/posts/default-apps">Uses</a></h2>
        <p>My tools.</p>
      </div>
      <div class="grid-item">
        <h2>Numbers</h2>
        <p>Interesting figures.</p>
      </div>
      <div class="grid-item">
        <h2><a href="/sit">Sit here.</a></h2>
        <p>A moment of peace.</p>
      </div>
    </div>
  </div>
</PageLayout>
