---
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-7">Namaste 🙏</h1>
		<p class="mb-5">
			I am Chandler when he said,"I am sure you are right. But why?". 
      <br>Though I am addressed as Abhigyan. 
      <br>This personal website is my mind rambling in kilobytes. Expect half-baked thoughts, doodles, full-fledged posts or anything in between.
      <br>Enjoy the scene or feel free to explore.🔍
      <br>
      <img
      src="../src/assets/train.gif"
      width="1600"
      height="900"
      decoding="async"
      loading="lazy"
      alt="A description of my image."
      />
      
		</p>
	</section>
</PageLayout>
