---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
const meta = {
	description: "happily blabbering about myself",
	title: "Now",
};
---
<script defer src="https://cloud.umami.is/script.js" data-website-id="d8126afa-dc93-427c-a836-8e92a8586a7d"></script>
<PageLayout meta={meta}>
	<div class="space-y-6">
<style>
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
</style>
		<h1 class="title">Now</h1>
		<p>
    <h2>Recent</h2>
    <ul>
        <li>A trip to Nainital</li>
        <li>Shifted to Noida</li>
    </ul>

    <h2>Now</h2>
    <ul>
        <li>Contemplating</li>
    </ul>
    </p>

	</div>
</PageLayout>
