---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import rocket from '../assets/IMG_7567.jpeg';
const meta = {
	description: "happily blabbering about myself",
	title: "I want to sit here longer.",
};
---
<script defer src="https://cloud.umami.is/script.js" data-website-id="d8126afa-dc93-427c-a836-8e92a8586a7d"></script>
<PageLayout meta={meta}>
	<div class="space-y-6">
<style>
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
</style>

<div style="text-align: center;">
  <blockquote>
    But I have promises to keep,<br>
    And miles to go before I sleep.<br>
    Still I want to sit here longer.
  </blockquote>
</div>

<img src={rocket.src} alt="no one moves" style="padding: 1px;" />
<div style="text-align: center;">breezy lake</div>

 <br>
 ![rain](./rain.jpg) 
 <br>
 ![resting on cot](./junglefort.jpg) 
 <br>
 ![On the Edge](./manali.jpg)
 <br>
 ![GreenBelow](./nainital.jpg)
	</div>
</PageLayout>
